/* ============================================================
   INDEX LOGO (header)
============================================================ */

.index-logo {
    height: 56px;
}

html.from-project .index-logo {
    height: 56px;
}

nav {
    display: none;
}

@media (max-width: 768px) {
    .index-logo {
        height: 36px;
    }
}
