html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font);
    color: var(--black);
    background: var(--white);
    font-size: 16px;
    line-height: 1.6;
}

html.restoring-scroll body {
    visibility: hidden;
}
